/* sitewide links */
/* selected link */
a:active {
    color: #F20544;
}

a:link {
    color: #F20544;
}

a:visited {
    color: #f2791d;
}

/* mouse over link */
a:hover {
    color: #ffe600;
}

.card1 {
    align-items: center;
    background-color: #23272F;
    color: #F8F9FC;
    text-align: center;
    align-content: center;
}

.card2 {
    align-items: center;
    background-color: #3F444D;
    color: #F8F9FC;
    text-align: center;
    align-content: center;

}

body {
    background-color: #1B1F27;
}

.projectPic {
    border: 10px solid #F20544 ;
    border-radius:15px;
    padding: 5px;
    max-width: 80%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.accordion {
    background-color: #F20544;
    color: #FFF;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
    background-color: #A6032F;
  }
  
  .accordion:after {
    content: '\002B';
    color: #1B1F27;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";
  }
  
  .panel {
    padding: 0 18px;
    max-height: 0;
    border-color: white;
    border-style: solid;
    border-radius: 1px;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

 .projectTitle
    {
    font-family: 'Abril Fatface', Tahoma, serif;
    font-size: 38pt;
    }